.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything horizontally */
    max-width: 600px;
    margin: 50px auto;
}

.profile-picture {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #dfdddd;
    margin-bottom: -25px;
    z-index: 1; /* Makes sure it's above the settings container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #aeadad;
    position: relative;
}

.settings-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: grey;
    color: white;
    outline: none;
    font-size: 16px;
    transition: 0.3s; 
}

input::placeholder { 
    color: white;
}

input:focus {
    border-color: #4CAF50; 
    color: white;
}

.input-box {
    margin-bottom: 20px;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    color: white;
}

.error-message {
    text-align: center;  
    color: red;
    margin-top: 10px;
}

.button-group {
    text-align: center;  
    padding-top: 20px;   
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    display: inline-block; 
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto; 
}