.FORGOT-PASSWORD {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .FORGOT-PASSWORD .div {
    background-color: #ffffff;
    height: 844px;
    position: relative;
    width: 390px;
  }
  
  .FORGOT-PASSWORD .reset-password {
    height: 39px;
    left: 81px;
    position: absolute;
    top: 668px;
    width: 234px;
  }
  
  .FORGOT-PASSWORD .overlap-group {
    background-color: #ff0500;
    border-radius: 20px;
    height: 39px;
    position: relative;
    width: 232px;
  }
  
  .FORGOT-PASSWORD .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 121px;
  }
  
  .FORGOT-PASSWORD .EMAIL {
    height: 30px;
    left: 110px;
    position: absolute;
    top: 446px;
    width: 172px;
  }
  
  .FORGOT-PASSWORD .overlap {
    background-color: #d9d9d9;
    height: 30px;
    position: relative;
    width: 170px;
  }
  
  .FORGOT-PASSWORD .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 89px;
  }
  
  .FORGOT-PASSWORD .p {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 72px;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 373px;
    width: 126px;
  }
  
  .FORGOT-PASSWORD .app-logo {
    background-image: url(../public/IMG_1702.jpg);
    background-size: 100% 100%;
    height: 140px;
    left: 125px;
    position: absolute;
    top: 125px;
    width: 140px;
  }
  
  .FORGOT-PASSWORD .back-button {
    all: unset;
    box-sizing: border-box;
    height: 30px;
    left: 23px;
    position: absolute;
    top: 22px;
    width: 72px;
  }
  
  .FORGOT-PASSWORD .div-wrapper {
    background-color: #eb3624;
    border-radius: 20px;
    height: 30px;
    position: relative;
    width: 70px;
  }
  
  .FORGOT-PASSWORD .text-wrapper-3 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 26px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 70px;
  }
  