@font-face{
  font-family: chocolatedonut;
  src: url("fonts/chocolatedonut.otf");

}

@font-face {
  font-family: cream;
  src: url("fonts/cream.ttf");
}

h1{
  font-family: chocolatedonut;
  text-transform: uppercase;
}

.title{
  position: absolute;
  top: 295px;
  justify-content: left;
  align-items: left;
  right: 0px;
  width: 100%;
  
}

/* div.title{
  justify-content: left;
  padding-right: 200px;
} */

.ForgotPasswordPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
}

.ForgotPasswordContainer {
  height: 844px;
  position: relative;
  width: 390px;
  justify-content: center;
}

.EnterUsername {
  height: 25px;
  left: 83px;
  position: absolute;
  top: 400px;
  width: 230px;
}

.EnterUsername input {
  width: 100%;
  height: 150%;
  /* padding: 8px; */
  font-size: 15px;
  color: #000000;
  background-color: #989898;
  border: none;
  border-radius: 10px;
}

.ResetMessage {
  color: #dc4733;
  font-family: cream;
  font-size: 15px;
  font-weight: 400;
  height: 26px;
  left: 7px;
  position: absolute;
  top: 360px;
  text-align: center;
}

.ResetButton {
  height: 39px;
  left: 70px;
  position: absolute;
  top: 465px;
  width: 234px;
}

.Reset {
  background-color: #dc4733;
  border-radius: 20px;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 21px;
  text-align: center;
  width: 80%;
  text-decoration: none;
  display: block;
}

.Reset:hover {
  box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
  background-color: #ff5a3c;
}

.BackButton {
  height: 39px;
  left: -85px;
  position: relative;
  top: -40px;
  width: 234px;
}

.Back {
  background-color: #dc4733;
  border-radius: 20px;
  color: #000000;
  height: 35px;
  line-height: 39px;
  text-align: center;
  width: 25%;
  display: block;
}

.Back:hover {
  box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
  background-color: #ff5a3c;
}

.error-message-FP {
  color: red;
  font-size: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  height: 26px;
  left: auto;
  position: absolute;
  top: 580px;
  text-align: center;
  font-family: cream;
}

.AppLogo {
  background-image: url(../public/IMG_1702.jpg);
  background-size: 100%;
  height: 140px;
  left: 130px;
  position: absolute;
  top: 125px;
  width: 140px;
  border-radius: 20px;
}
