@font-face {
    font-family:chocolatedonut;
    src: url("fonts/chocolatedonut.otf");
}

@font-face {
    font-family:cream;
    src: url("fonts/cream.ttf");
}

h{
    font-family: chocolatedonut;
    text-transform: uppercase;
}

/* .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
    padding-top: 100px;
    background-color: #ffffff;
} */

.recipe-view {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
    margin: auto 0;
    padding-top: 20px;
}
  
.image-section-recipe {
    background: linear-gradient(180deg, rgb(255, 149.81, 149.81) 0%, rgba(255, 204.7, 204.7, 0.48) 53.65%, rgba(255, 255, 255, 0) 100%);
    border: 5px solid #DC4733;
    height: 352px;
    width: 352px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.text-label {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}

.title-label {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
.label.text-box {
    background: transparent; 
    background: linear-gradient(180deg, rgb(255, 173, 173) 0%, rgba(255, 173, 173, 0.45) 55.24%, rgba(255, 173, 173, 0) 100%);
    height: 100%;
    width: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.text-box{
    background: linear-gradient(180deg, rgb(255, 173, 173) 0%, rgba(255, 173, 173, 0.45) 55.24%, rgba(255, 173, 173, 0) 100%);
    font-family: cream;
    height: 200px;
}
  
.button {
    background-color: #DC4733;
    border: 2px solid #DC4733;
    border-radius: 15px;
    height: 41px;
    width: 200px;
    margin-top: 50px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s; /* smooth transition for hover effect */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* space between the buttons */
    margin-top: 20px;
}

.button:hover {
    box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
    background-color: #ff5a3c;
}

.text-box-recipesteps{
    background: linear-gradient(180deg, rgb(255, 173, 173) 0%, rgba(255, 173, 173, 0.45) 55.24%, rgba(255, 173, 173, 0) 100%);
    font-family: cream;
    height: 200px;
    width: 242px;
    overflow-y: scroll;
}

a.button{
    font-family: cream;
    color:white;
    font-weight: lighter;
}