.INDV-RECIPE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: chartreuse;*/
    align-items:center;
    padding-top: 25px;
}

.INDV-RECIPE .name {
    text-align:center;
    /*background-color: deeppink;*/
}

.INDV-RECIPE .photo {
    width: 250px;
    height: 250px;
    background-color: gray;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.INDV-RECIPE .recipe-text {
    width: 75%;
    /*background-color: deeppink;*/
}

.INDV-RECIPE .recipe-text .description {
    font-style: italic;
    text-align: center;
    /*background-color:aquamarine;*/
    margin: 10px;
    padding: 5px;
}

.INDV-RECIPE .recipe-text .main-text {
    /*background-color: cornflowerblue;*/
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.INDV-RECIPE .button {
    background-color: gray;
    margin: 10px;
    width: 20%;
    text-align: center;
}
