.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Align images at the leftmost edge */
}

.column {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%; /* Each image takes a full row width */
  max-width: 300px;
  text-align: center;
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.ingredient-description h3 {
  font-size: 1.2rem;
  margin: 0;
}

.ingredient-description p {
  font-size: 1rem;
  color: #333;
}

.spacer{
  margin-top: 30px;
}