.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* border: 2px dotted blue; */
  background-color: #ffffff;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  gap: 20px;
  padding-top: 30px;
  /* padding-right: 40%; */
  justify-content: flex-start; 
}

.column {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* padding: 10px;
  width: 100%;  */
  width: 75%;
  max-width: 200px;
  text-align: center;
}


.column img {
  /* border: 2px solid blue; */
  max-width: 100%;
  height: auto;
  padding-top: 15px;
  width: 200px;
  border-radius: 5px;
}

.ingredient-description h3 {
  font-size: 1.2rem;
  margin: 0;
}

.ingredient-description p {
  font-size: 1rem;
  color: #333;
}

.spacer{
  margin-top: 30px;
}