@font-face {
  font-family: cream;
  src: url("fonts/cream.ttf");
}

@font-face{
  font-family: chocolatedonut;
  src:url("fonts/chocolatedonut.otf")
}

.LoginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
}

.LoginContainer {
  height: 844px;
  position: relative;
  width: 390px;
}

.InputUsername {
  height: 25px;
  left: 83px;
  position: absolute;
  top: 350px;
  width: 230px;
}

.InputUsername input{
  width: 100%;
  height: 150%;
  padding: 8px;
  font-size: 15px;
  color: #000000;
  background-color: #989898; 
  border: none; 
  border-radius: 10px;
}

.InputPassword {
  height: 25px;
  left: 83px;
  position: absolute;
  top: 400px;
  width: 230px;
}

.InputPassword input{
  width: 100%;
  height: 150%;
  padding: 8px;
  font-size: 15px;
  color: #000000;
  background-color: #989898; 
  border: none; 
  border-radius: 10px; 
}

.ForgotPasswordLink {
  color: #476ae9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 26px;
  left: 80px;
  position: absolute;
  text-align: right;
  top: 460px;
  width: 230px;
  text-decoration: underline;
}

.ForgotPasswordLink:hover {
  color: #15e0e3;
}

.LoginButton {
  height: 39px;
  left: 70px;
  position: absolute;
  top: 490px;
  width: 234px;
}

.Login {
  background-color: #DC4733;
  border-radius: 20px;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 21px;
  text-align: center;
  width: 80%;
  text-decoration: none;
  display: block;
}

.Login:hover {
  box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
  background-color: #ff5a3c;
}

.SignUpLink {
  height: 24px;
  left: 80px;
  position: absolute;
  top: 550px;
  width: 334px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
}

.CreateMessage {
  color: #000000;
  font-family: cream;
}

.SignUpText {
  color: #476ae9;
  font-family: cream;
}

.SignUpText:hover {
  color: #15e0e3;
}

.error-message-log{
  color: red;
  font-size: 12px;
  font-weight: 400;
  height: 24px;
  left: auto;
  position: absolute;
  top: 730px;
  width: 230px;
  text-align: center;
}

.AppLogo {
  background-image: url(../public/IMG_1702.jpg);
  background-size: 100%;
  height: 140px;
  left: 130px;
  position: absolute;
  top: 125px;
  width: 140px;
  border-radius: 20px;
}

.ForgotPasswordLink{
  font-family: cream;
}

input{
  font-family: cream;
}

