.LoginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.LoginContainer {
  height: 844px;
  position: relative;
  width: 390px;
}

.InputEmail {
  height: 25px;
  left: 83px;
  position: absolute;
  top: 360px;
  width: 230px;
}

.InputEmail input{
  width: 100%;
  height: 150%;
  padding: 8px;
  font-size: 15px;
  color: #000000;
  background-color: #989898; 
  border: none; 
  border-radius: 10px;
}

.InputPassword {
  height: 25px;
  left: 83px;
  position: absolute;
  top: 410px;
  width: 230px;
}

.InputPassword input{
  width: 100%;
  height: 150%;
  padding: 8px;
  font-size: 15px;
  color: #000000;
  background-color: #989898; 
  border: none; 
  border-radius: 10px; 
}

.ForgotPasswordLink {
  color: #476ae9;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 26px;
  left: 80px;
  position: absolute;
  text-align: right;
  top: 465px;
  width: 230px;
  text-decoration: underline;
}

.ForgotPasswordLink:hover {
  color: #15e0e3;
}

.LoginButton {
  height: 39px;
  left: 105px;
  position: absolute;
  top: 529px;
  width: 234px;
}

.Login {
  background-color: #DC4733;
  border-radius: 20px;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 39px;
  line-height: 39px;
  text-align: center;
  width: 80%;
  text-decoration: none;
  display: block;
}

.Login:hover {
  box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
  background-color: #ff5a3c;
}

.SignUpLink {
  height: 24px;
  left: 93px;
  position: absolute;
  top: 788px;
  width: 334px;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
}

.CreateMessage {
  color: #000000;
}

.SignUpText {
  color: #476ae9;
}

.SignUpText:hover {
  color: #15e0e3;
}

.AppLogo {
  background-image: url(../public/IMG_1702.jpg);
  background-size: 100% 100%;
  height: 140px;
  left: 125px;
  position: absolute;
  top: 125px;
  width: 140px;
  border-radius: 20px;
}
