@font-face {
    font-family: chocolatedonut;
    src: url("fonts/chocolatedonut.otf");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 2px dotted blue; */
    background-color: #ffffff;
  }

h1{
    font-family: chocolatedonut;
}

.recipe-edit {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 844px; */
    padding-top: 20px;
    margin: auto 0;
}
  
.image-section {
    background: linear-gradient(180deg, rgb(255, 149.81, 149.81) 0%, rgba(255, 204.7, 204.7, 0.48) 53.65%, rgba(255, 255, 255, 0) 100%);
    /* border: 5px solid #DC4733; */
    border-radius: 25px;
    height: 352px;
    width: 352px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-upload-label {
    cursor: pointer;
    display: block;
    /* border: 5px solid #DC4733; */
    height: 352px;
    width: 352px;
}

.image-upload-input {
    display: none; 
}

.uploaded-image {
    height: 352px;
    width: 352px;
    object-fit: cover;  
}
  
.input-label {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}
  
.input-box input {
    width: 100%; 
    height: 100%; 
    border: none; 
    background: transparent; 
    padding: 0 10px; 
    font-size: 14px; 
    color: #000000;
    outline: none; 
}

.input-box input::placeholder {
    color: #000000;
}

.input-box {
    background: linear-gradient(180deg, rgb(255, 173, 173) 0%, rgba(255, 173, 173, 0.45) 55.24%, rgba(255, 173, 173, 0) 100%);
    height: 41px;
    width: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #000000;
    font-size: 14px;
}
  
.add-button {
    background-color: #DC4733;
    border: 2px solid #DC4733;
    border-radius: 15px;
    height: 41px;
    width: 242px;
    margin-top: 50px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s; /* smooth transition for hover effect */
}

.add-button:hover {
    box-shadow: 0 0 20px 0 rgba(220, 71, 51, 0.9);
    background-color: #ff5a3c;
}


.input-box-steps textarea{
    /* height: 100px;
    width: 300px;
    resize: none;
    white-space: nowrap; */

        /* border: 1px solid black; */
    background: linear-gradient(180deg, rgb(255, 173, 173) 0%, rgba(255, 173, 173, 0.45) 55.24%, rgba(255, 173, 173, 0) 100%);
    height: 100px;
    width: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #000000;
    font-size: 14px;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: cream;
}

.input-box-steps textarea:focus{
    text-decoration: none;
    border: none;
    outline: 0;
}

button.save-button{
    font-family: cream;
    font-weight: lighter;
}