.RECIPE-INV {
    /* background-color: chartreuse; */
    padding-top: 80px;
}

.RECIPE-INV .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: deeppink; */
    align-items:center;
    margin-top: 15px;
}

.RECIPE-INV .search .search-bar {
    display: flex;
    /* background-color: aquamarine; */
    min-width: 550px;
}

.RECIPE-INV .search .search-tools {
    display: flex;
    flex-direction: row;
    /* background-color: darkorange; */
    min-width: 500px;
    margin-top: 15px;
}

.RECIPE-INV .search .search-tools .square {
    width: 15px;
    height: 15px;
    margin: auto;
    background-color: gray;
    margin-right: 15px;
    
}

.RECIPE-INV .search .search-tools .filter-text {
    flex-grow: 2;
    /* background-color: bisque; */
    text-align: left;
    margin: auto;
}

.RECIPE-INV .search .search-tools .search-button {
    flex-grow: 1;
    text-align: center;
    background-color: gray;
    margin: 5px;
}

.RECIPE-INV .recipe-list {
    /* background-color: aqua; */
    width: 75%;
    padding-top: 15px;
    margin: auto;
    list-style-type: none;
}

.RECIPE-INV .recipe-list .recipe-tile {
    /* background-color: firebrick; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 200px;
    text-decoration: none;
    color: black;
}

.RECIPE-INV .recipe-list .recipe-tile .recipe-photo{
    aspect-ratio: 1 / 1;
    background-color: gray;
    text-align: center;
    margin: auto;
    min-width: 150px;
}

.RECIPE-INV .recipe-list .recipe-tile .recipe-text {
    /* background-color: bisque; */
    flex-grow: 3;
    padding-left: 15px;
    overflow: hidden;
    padding-bottom: 15px;
}

.RECIPE-INV .recipe-list .recipe-tile .recipe-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30px;
    /* background-color: aqua; */
    margin: 1.5px;
}

.RECIPE-INV .recipe-list .recipe-tile .recipe-text h2 {
    margin-bottom: 15px;
}

h1 {
    /* background-color: aqua; */
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}