@font-face {
    font-family: chocolatedonut;
    src: url("fonts/chocolatedonut.otf");
}

@font-face {
    font-family: cream;
    src: url("fonts/cream.ttf");
}

.settingstitle{
    position: absolute;
    top:20px;
}

.profile-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center everything horizontally */
    max-width: 600px;
    /* margin: 50px auto; */
}

.profile-picture {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #dfdddd;
    margin-bottom: -25px;
    z-index: 1; /* Makes sure it's above the settings container */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #aeadad;
    position: relative;
    cursor: pointer;
}

.profile-picture:hover {
    border-color: #DC4733;
}

.settings-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: grey;
    color: white;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 10px; 
}

input::placeholder { 
    color: white;
}

/* input:focus {
    border-color: #4CAF50; 
    color: white;
} */

.input-box {
    margin-bottom: 20px;
    color: white;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    color: white;
}

.button-group {
    text-align: center;  
    padding-top: 20px;   
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #DC4733;
    color: white;
    display: inline-block; 
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto; 
}

.input-like-button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #989898;
    color: white;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    text-align: left;
    cursor: pointer;
    display: block;
    border-radius: 10px;

    font-family: cream;
}

.input-like-button:hover {
    border-color: #DC4733;
}

button:not(.danger) {
    margin-right: 15px;
    font-family: cream;
    color:white;
}

button.danger {
    background-color: #DC4733;
    margin-left: 15px;
    width: 150px;
    font-family: cream;
    color:white;
}


.input-like-button:focus {
    border-color: #DC4733; 
    background-color: #989898;
}
